.game-screen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

/* * { color: white; }  */

.game-canvas-holder {
    position: relative;
    align-self: stretch;
    flex-grow: 5;
    flex-basis: 200px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    /* aspect-ratio: 16 / 9; */
}

.game-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid white;
}

.camera-indicators {
    display: flex;
    flex-direction: row;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
/* 
@keyframes slight-bounce {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
} */

/* .camera-indicator {
    animation: slight-bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid white;
} */

.internal-map {
    display: grid;
    grid-template-columns: 1fr;
    
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 200px;
    height: 200px;
}