.editor-container {
    position: relative;
    gap: 5px;
    padding: 10px;
    overflow: hidden;
}

/* .editor-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-content:stretch;
    gap: 5px;
} */



.editor-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


@media screen and (orientation: portrait) and (max-width: 700px) {
    .editor-container {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(12, 1fr);
        justify-content:stretch;
        
        gap: 5px;
    }

    .left-side-bar {
        grid-row: 10 / 13;
        grid-column:  2 / 14;
    }

    .right-side-bar {
        grid-row: 1 / 3;
        grid-column: 2 / 14;
    }

    .left-side-bar, .right-side-bar {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }
    
    .main-view {
        position: relative;
        grid-row: 3 / 10;
        grid-column: 2 / 14;
    }

    .tool-bar {
        grid-row: 1 / 13;
        grid-column: 1 / 2;

        display: flex;
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
    }

    .editing-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: scroll;
        flex-grow: 1;
    }

    .edit-button {
        border-radius: 5px;
        background-color: white;
        border: none;
        pointer-events: auto;
        aspect-ratio: 1;
        padding: 5px;
    }

    @media screen and (max-width: 700px) {
        .edit-button {
            font-size: 12px;
            padding: 2px;
        }
    }

}

@media screen and (orientation: portrait) and (min-width: 700px), screen and (orientation: landscape) {
    .editor-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
        justify-content:stretch;
        gap: 5px;
    }

    .left-side-bar {
        grid-column: 1 / 4;
        grid-row: 1 / 8;
    }

    .right-side-bar {
        grid-column: 10 / 13;
        grid-row: 1 / 8;
    }

    .left-side-bar, .right-side-bar {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .tool-bar {
        overflow-x: scroll;
    }
    
    .main-view {
        position: relative;
        grid-column: 4 / 10;
        grid-row: 1 / 7;
    }

    .tool-bar {
        grid-row: 7 / 8;
        grid-column: 4 / 10;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        align-items: center;
        justify-content: center;
    }

    .editing-buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-grow: 1;
        justify-content: space-evenly;
        justify-self: stretch;
        align-items: center;
        color: black;
    }

    .edit-button {
        border-radius: 5px;
        background-color: white;
        border: none;
        pointer-events: auto;
        aspect-ratio: 1;
        padding: 15px;
    }
}




.main-view {
    flex-grow: 1;
    grid-template-columns: 1fr;
    display: grid;
    position: relative;
}

.editing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid white;
    border-radius: 3px;
}

.left-side-bar, .right-side-bar, .tool-bar {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    padding: 5px;
}

.tile-picker {
    background-color: rgb(15, 15, 15);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.selected-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.side-tool-title {
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}


.saved-tile-selection-button {
    color: white;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(20, 20, 20);
    border: none;
}

.saved-tile-selection-button:hover {
    border-bottom: 1px solid white;
}

.saved-tile-selection-button.selected {
    background-color: rgb(60, 60, 60);
    color: green;
    font-weight: bold;
}

.saved-tile-selection-button.unselected {
    background-color: rgb(10, 10, 10);
}

.edit-button:hover:not(.disabled) {
    transition: background-color 0.25s;
    background-color: rgb(220, 220, 220);
}

.edit-button:active:not(.disabled) {
    transition: background-color 0.1s transform 0.1s;
    background-color: black;
    transform: translateY(2px);
}

.edit-button.selected:hover {
    transition: background-color 0.25s;
    background-color: rgb(110, 110, 110);
}

.edit-button.selected {
    background-color: rgb(50, 50, 50);
}
.edit-button.disabled {
    background-color: darkslategray;
    color: lightslategray;
}

.edit-button.disabled:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(30, 30, 30);
}

.edit-button.disabled:active {
    background-color: crimson;
    color: red;
}


.side-tool {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    margin: 5px;
    border-radius: 10px;
}

.map-generator:hover {
    border-bottom: 1px solid white;
}

.map-dimensions-input-area {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    gap: 5px;
}

.map-dimensions-input-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
}

.map-dimensions-input-label {
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 12px;
}

.map-dimensions-input {
    background-color:rgb(10, 10, 10);
    color: white;
    text-align: center;
    caret-color: green;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    min-width: 0; /* Browsers automatically assign widths to inputs, so we need to override so that it fits into the flex container and not it's own given width: https://stackoverflow.com/questions/42421361/input-button-elements-not-shrinking-in-a-flex-container */
}

.map-generate-button {
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

.map-generate-button:hover, .map-generate-button:active {
    border-bottom: 1px solid white;
}

.map-generate-button:hover {
    color: lightgreen;
}

.map-generate-button:active {
    color: green;
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.action-button {
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}