.editor-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    flex-direction: column;
    /* align-items: center; */
    /* justify-content:stretch; */
    /* overflow: none; */
    gap: 5px;
    padding: 10px;
    background-color: rgb(40, 40, 40);
}

.editing-canvas-holder {
    grid-column: 4 / 10;
    grid-row: 1 / 7;
    padding: 5px;
    margin: 10px;
    border: 5px solid black;
}

.left-side-bar {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
    background-color: rgb(20, 20, 20);
}

.right-side-bar {
    grid-column: 10 / 13;
    grid-row: 1 / 8;
    background-color: rgb(20, 20, 20);
}

.tool-bar {
    grid-row: 7 / 8;
    grid-column: 4 / 10;
    background-color: rgb(20, 20, 20);
}

.editing-canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid white;
}

.tile-picker {
    display: flex;
    flex-direction: row;
}

.saved-tile-selection-button {
    color: white;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(20, 20, 20);
    border: none;
}

.saved-tile-selection-button:hover {
    border-bottom: 1px solid white;
}

.saved-tile-selection-button.selected {
    background-color: rgb(60, 60, 60);
    color: green;
    font-weight: bold;
}

.saved-tile-selection-button.unselected {
    background-color: rgb(10, 10, 10);
}


.editing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: stretch;
    align-items: center;
    color: black;
}

.edit-button {
    border-radius: 5px;
    background-color: white;
    border: none;
    pointer-events: auto;
    aspect-ratio: 1;
    margin-left: 15px;
    padding: 15px;
}

.edit-button:hover:not(.disabled) {
    transition: background-color 0.25s;
    background-color: rgb(220, 220, 220);
}

.edit-button:active:not(.disabled) {
    transition: background-color 0.1s transform 0.1s;
    background-color: black;
    transform: translateY(2px);
}

.edit-button.selected:hover {
    transition: background-color 0.25s;
    background-color: rgb(110, 110, 110);
}

.edit-button.selected {
    background-color: rgb(50, 50, 50);
}
.edit-button.disabled {
    background-color: darkslategray;
    color: lightslategray;
}

.edit-button.disabled:hover {
    background-color: rgb(10, 10, 10);
    color: rgb(30, 30, 30);
}

.edit-button.disabled:active {
    background-color: crimson;
    color: red;
}


.map-generator {
    display: flex;
    flex-direction: column;
}

.map-dimensions-input {
    display: flex;
    flex-direction: row;
}

.map-dimensions-input input {
    background-color: black;
    color: white;
    text-align: center;
    font-family: monospace;
    caret-color: green;
}

.map-generate-button {
    color: white;
    text-align: center;
    background-color: black;
    border: 2px solid white;
    align-self: center;
    justify-self: center;

}

.map-generate-button:hover {
    color: lightgreen;
}

.map-generate-button:active {
    color: green;
}