.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:stretch;
    width: 100%;
    height: 100%;
    min-width: 0;
    overflow: none;
    background-color: black;
}

.editing-canvas {
    flex-grow: 10;
    min-width: 0;
    border:rgb(110, 110, 110);
}

.editing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: stretch;
    align-items: center;
}

.edit-button {
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 5px;
    margin-right: 2px;
	&:hover:not(.disabled) {
	    transition: background-color 0.25s;
	    background-color: rgb(220, 220, 220);
	}

	&:active:not(.disabled) {
	    transition: background-color 0.1s transform 0.1s;
	    background-color: black;
	    transform: translateY(2px);
	}

	&.selected:hover {
	    transition: background-color 0.25s;
	    background-color: rgb(110, 110, 110);
	}

	&.selected {
	    background-color: rgb(50, 50, 50);
	}
	&.disabled {
	    background-color: darkslategray;
	    color: lightslategray;
	}

	&.disabled:hover {
	    background-color: rgb(10, 10, 10);
	    color: rgb(30, 30, 30);
	}

	&.disabled:active {
	    background-color: crimson;
	    color: red;
	}
}


.editor-tile-creator {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    border: 1px solid black;
	& > * {
	    margin-top: 5px;
	}
}

.tile-creator-container {
    transform: translateX(100%);
    transition: transform 0.25s;
    position: absolute;
    right: 0px;
    top: 0px;
	&.opened {
	    transform: translateX(0);
	}
}


.editor-tile-creator-open-button {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 0px;
    transform: translateX(-100%);
}


.tile-creator-button {
    color: white;
    font-family: monospace;
    background-color: black;
    border: none;
    border-radius: 5px;
	&:hover {
	    transition: transform 0.25s;
	    background-color: darkslategray;
	    transform: translateY(-5px) scale(1.05) skew(5px);
	}
}

.sketch-picker {
    background-color: black;
}


.tile-creator-save-button {
    background-color: green !important;
}

