.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-canvas-holder {
    position: relative;
    align-self: stretch;
    flex-grow: 5;
    flex-basis: 200px;
    flex-grow: 1;
}

.map-canvas {
    cursor:pointer;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 2px solid white;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.tool {
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.tool:hover {
    background-color: rgb(240, 240, 240);
}

.tool:active {
    background-color: rgb(220, 220, 220);
}

.tool.selected {
    background-color: rgb(50, 205, 50);
}

.tool.selected:hover {
    background-color: rgb(45, 184, 45);
}

.tool.selected:active {
    background-color: rgb(40, 164, 40);
}