.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.game-canvas {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: blue;
    image-rendering: optimizeSpeed;
}