.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:stretch;
    width: 100%;
    height: 100%;
    background-color: black;
}

.editing-canvas {
    flex-shrink: 1;
    flex-grow: 20;
    flex-basis: 0px;
}

.editing-buttons {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: stretch;
    align-items: center;
}

.edit-button {
    border-radius: 5px;
    background-color: white;
    border: none;
}

.edit-button:hover {
    transition: background-color 0.25s;
    background-color: rgb(220, 220, 220);
}

.edit-button:active {
    transition: background-color 0.1s transform 0.1s;
    background-color: black;
    transform: translateY(2px);
}

.edit-button.selected:hover {
    transition: background-color 0.25s;
    background-color: rgb(110, 110, 110);
}

.edit-button.selected {
    background-color: rgb(50, 50, 50);
}

.editor-tile-creator {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
}