html, body, .app, #root {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.app {
    background-color: black;
    display: flex;
    flex-direction: row;
    z-index: -2;
}

*:not(input) {
    user-select: none;
}

/* *:not(body, html) {
     position: relative;
 } */

*:not(canvas, input, button) {
    touch-action: pinch-zoom;
}


.sidebar {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100vh;
    transition: transform 0.25s;
    z-index: 1;
}

.sidebar.left {
    left: 0;
    transform: translateX(-100%);
}

.sidebar.right {
    right: 0;
    transform: translateX(100%);
}

.sidebar, .sidebar div {
    touch-action: none;
    pointer-events: none;
}

.sidebar *:not(div) {
    touch-action: auto;
    pointer-events: auto;
}

.sidebar-content-area {
    display: flex;
    flex-direction: column;
}

.sidebar-open-button {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    text-shadow: 1px 1px black;


}

.sidebar-open-button:active {
    transition: border-botton 0.1s fill 0.1s;
    fill: black;
    border-bottom: 3px solid white;
}

.sidebar.left .sidebar-open-button {
    right: 0;
    transform: translateX(100%);
}

.sidebar.left .sidebar-open-button:hover {
    transition: fill 0.25s transform 0.25s;
    fill: rgb(200, 200, 200);
    transform: translateX(100%) translateY(5px);
}

.sidebar.right .sidebar-open-button {
    left: 0;
    transform: translateX(-100%);
}

.sidebar.right .sidebar-open-button:hover {
    transition: color 0.25s transform 0.25s;
    color: rgb(200, 200, 200);
    transform: translateX(-100%) translateY(5px);
}

.screen-picking-button {
    background-color: black;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: monospace;
    cursor: pointer;
    transform: translateX(0);
}

.screen-picking-button.opened {
    background: radial-gradient(lightgreen, rgb(185, 238, 155));
}

.screen-picking-button:hover {
    transition: padding-bottom 0.25s padding-top 0.25s border-bottom 0.25s border-top 0.25s;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    padding-top: 5px;
}

.screen-picking-button::after {
    transition: transform 0.25s;
}

.screen-picking-button:active {
    transition: transform 0.5s box-shadow 0.5s border-right 0.5s border-left 0.5s;
    border-left: 2px solid white;
    border-right: 2px solid white;
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px white;
}

.sidebar.opened {
    transform: translateX(0);
}

@keyframes screenLoad {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.screen {
    flex-grow: 1;
    animation: screenLoad;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.screen::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.viewing-area {
    width: 100%;
    height: 100%;
    display: grid;
}

@media screen and (orientation: landscape) {
    .viewing-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (orientation: portrait) {
    .viewing-area {
        grid-template-rows: repeat(2, 1fr);
    }
}


.viewing-area.single {
    grid-template-columns: 1fr;
}